* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hidden {
   display: none;
}
.container {
    cursor: pointer;
}
span {
    font-size: 500px;
}
@media screen and (max-width: 1024px) {
    span {
        font-size: 400px;
    } 
}
@media screen and (max-width: 600px) {
    span {
        font-size: 300px;
    }
}